includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - config
        - database/factories
        - database/seeders
        - routes
        - src
        - tests

    level: 9

    ignoreErrors:
        -
            identifier: larastan.noEnvCallsOutsideOfConfig
            path: config/*.php
        -
            identifier: trait.unused
            path: src/Concerns/*.php
        -
            identifier: offsetAccess.nonOffsetAccessible
            message: '#^Cannot access offset ''config'' on Illuminate\\Contracts\\Foundation\\Application\.$#'
            path: src/*ServiceProvider.php
